$brownBlack: #1a181b;
$greyGreen: #92b9bd;
$lightPink: #dfd9e2;
$pinkLavender: #d1b1c8;
$lightGreen: #9fd8cb;
$lightYellow: #dceed1;
$lightGrey: #efeffa;

$bgBodyLight: $lightGrey;
$bgBodyDark: $brownBlack;
$mainFontColor: $lightGrey;
$bgButton: $greyGreen;
$bgButton: $lightGreen;
$lightBgFontColor: $brownBlack;
