$greyMetal: #253237;
$brownBlack: #1a181b;
$greyGreen: #92b9bd;
$lightPink: #dfd9e2;
$pinkLavender: #d1b1c8;
$lightGreen: #9fd8cb;
$lightYellow: #dceed1;
$lightGrey: rgb(247, 247, 247);

$bgBody: $greyMetal;
$bgContainer: $brownBlack;
$mainFontColor: $lightGrey;
$bgButton: $greyGreen;
$bgButton: $lightGreen;
$lightBgFontColor: $greyMetal;
